<div class="grid-container intro-section scroll-section" style="scroll-snap-align: start; position: relative">
  <app-header></app-header>
  <div class="container">
    <div class="tag-line f-bilmone">
      <span class="test-fade-in">Darcy's</span> <wbr> <span class="test-fade-in">insurance</span> <wbr> <span class="test-fade-in">products</span>
    </div>
    <div class="content">
      <div class="features">
        <div class="feature test-fade-in">
          <img class="logo mb-1" src="/assets/x-circle-fill.svg" alt="">
          <span>
        Our <a href="#">plans</a> are saving policyholders 30% - 60%
        on premiums
        </span>
        </div>
        <div class="feature test-fade-in">
          <img class="logo mb-1" src="/assets/x-circle-fill.svg" alt="">
          <span>
        We offer a different choice of low deductibles and include no cost value-added services.
        </span>
        </div>
        <div class="next-icon test-fade-in">
          <img src="/assets/arrow-down.svg" alt="arrow_down_image">
        </div>
      </div>
      <div class="logo">
        <img src="/assets/hot-air-balloons.png" alt="air_balloons">
      </div>
    </div>
  </div>
</div>

<div class="container-lg mt-5 scroll-section features-section" style="scroll-snap-align: start; position: relative">
  <div class="features-grid py-5">
    <div class="feature-item home-insurance">
      <button class="feature-action" >Home insurance</button>
    </div>
    <div class="feature-item pill life-guard"></div>
    <div class="feature-item best-choice-feature best-choice">
      <h2 class="f-bilmone">Best choice</h2>
      Not all insurance are the same. That's why agency knows that your insurance should be customized to fit your situation.
      <button class="feature-action pink-action">View all services</button>
    </div>
    <div class="feature-item vehicle-damage">
      <button class="feature-action">Vehicle damage</button>
    </div>
    <div class="feature-item mortgage-insurance">
      <button class="feature-action">Mortgage insurance</button>
    </div>
    <div class="feature-item medical-expenses">
      <button class="feature-action">Medical expenses</button>
    </div>
  </div>
</div>

<div class="container-lg expert-section" style="scroll-snap-align: start; position: relative">
  <div class="expert-slide-show">
    <div class="expert-profile">
      <div class="expert-image"></div>
      <div class="expert-info">
        <div class="expert-info-staggered-anim expert-name f-bilmone"><h2>Georgia Darcy</h2></div>
        <div class="expert-info-staggered-anim expert-position">The agency founder</div>
        <div class="expert-info-staggered-anim expert-opinion">With over twenty years or industry experience, moneys insurance products' hos learnecia Ise The one thing we know far sure is that weirs all about you. ',you find searching for Insurance frustrating, we are hereto heirs. </div>
        <button class="expert-info-staggered-anim expert-contact-action"> Get a consultation</button>
      </div>
    </div>
    <div class="counter"></div>
  </div>
  <div class="expert-title">
    <img class="logo mt-1" src="/assets/x-circle-fill.svg" alt="">
    <div class="expert-text f-bilmone"><span class="text-words">Our</span><br><span class="text-words">experts</span><br><span class="text-words">say</span></div>
  </div>
</div>

<div class="container-lg support-section" style="scroll-snap-align: start; position: relative">
  <div class="support-slogan f-bilmone">
    <span>Support</span><br>
    <span>at every</span><br>
    <span>Step</span>
  </div>
  <div class="features">
    <div class="feature test-fade-in">
      <img class="logo mb-1" src="/assets/x-circle-fill.svg" alt="">
      <span>
      Participate in the <a href="#">loyalty program</a>. Pay for the service online to get the bonuses for our other services. We have a lot of bonuses!
      </span>
    </div>
    <div class="feature test-fade-in">
      <img class="logo mb-1" src="/assets/x-circle-fill.svg" alt="">
      <span>
        You can help other people choose a donation fund and share the link with your friends!
      </span>
    </div>
    <button class="feature support-action-button">Choose a fund</button>
  </div>

  <div class="support-image"></div>
</div>

<div class="container-lg contact-section" style="scroll-snap-align: start; position: relative">
  <div class="form">
    <h2 class="header f-punk-rocker">Need numbers <span>?</span></h2>
    <ul class="contact-types">
      <li class="contact-type active">Travel</li>
      <li class="contact-type">Health</li>
      <li class="contact-type">CASCO</li>
      <li class="contact-type">Mortgage</li>
      <li class="contact-type">Fire</li>
    </ul>

    <div class="controls-container">
      <div class="control-container">
        <label class="control-label">Enter the country</label>
        <input class="control" type="text" placeholder="Australia">
      </div>
      <div class="control-container date-control">
        <label class="control-label">Choose travel dates</label>
        <input class="control" type="text" placeholder="11 Apr - 20 Apr">
        <img src="/assets/calendar.svg" class="control-icon" alt="nothing">
      </div>
      <button class="control-action-button">Calculate</button>
    </div>
  </div>

  <div class="links">
    <div class="links-section insurance-section">
      <h3>Insurance services</h3>
      <div class="links-container">
        <span>Medical expenses</span>
        <span>Family health insurance</span>
        <span>Vehicle damage</span>
        <span>Property loss</span>
        <span>Fire</span>
      </div>
    </div>
    <div class="links-section company-section">
      <h3>Company</h3>

      <div class="links-container">
        <span>About us</span>
        <span>Career</span>
        <span>Help</span>
        <span>FAQ</span>
        <span>Blog</span>
      </div>
    </div>
    <div class="links-section bonus-section">
      <h3>Bonus</h3>

      <div class="links-container">
        <span>Gift certificate</span>
        <span>Affiliate Program</span>
        <span>Trainings</span>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="product">
      <img src="assets/logo.png" alt="logo" class="logo">
      <span>Darcy's insurance products</span>
    </div>
    <div class="link"><a href="#">Privacy policy</a></div>
  </div>
</div>


